<?php return array (
  'name' => '方块世界',
  'domain' => 'example.com',
  'download' => '',
  'authServerUrl' => '',
  'checkinMoney' => '1000',
  'defaultMoney' => '1000',
  'items' => '{
    "移速加10，持续时间60秒":{"price":"100","icon":"/images/001.svg","command":"effect give \'{name}\' minecraft:speed 60 10"}
    ,
    "力量加10，持续时间120秒":{"price":"100","icon":"/images/002.svg","command":"effect give \'{name}\' minecraft:strength 120 10"}
    ,
    "跳跃加10，持续时间60秒":{"price":"100","icon":"/images/003.svg","command":"effect give \'{name}\' minecraft:jump_boost 60 10"}
    ,
    "血量上限加20个心，持续时间600秒":{"price":"100","icon":"/images/004.svg","command":"effect give \'{name}\' minecraft:absorption 600 9"}
    ,
    "立即天亮":{"price":"100","icon":"/images/005.svg","command":"time set 1"}
    ,
    "立即晴天":{"price":"100","icon":"/images/006.svg","command":"weather clear"}
    ,
    "给予64个烟花火箭":{"price":"1000","icon":"/images/000.svg","command":"give {name} firework_rocket 64"}
    ,
    "向所有在线玩家广播你是个大土豪":{"price":"10000","icon":"/images/000.svg","command":"title @a title {\\"text\\":\\"{name}是个大土豪\\"}"}
    ,
    "炽燃余烬":{"price":"1000","icon":"/images/000.svg","command":"give {name} cataclysm:burning_ashes"}
}',
  'private' => '-----BEGIN RSA PRIVATE KEY-----
MIIJJwIBAAKCAgEAjAmD943hAXRLusECMkEWQEYMHGtGZ7UtdxrT1zbho1B73C/t
+2uvBbFxMoaccCqgC0olR7k4KkY41VqaPePFIxnoZum6i8vqoCkvQzm338lMICzl
uGGllMJh8gVPKqYpNdyuVcXMQwci0Bn/G/dknhkgC/RgzcK5/57gzV8J6sQM1WgL
N2Mv7DN/l432PB/AAGonGnd4OvX2ey/iiwdwa1GAJEApqsQj7zkCL5uBtEsI3B4b
Puc+h0d6ZrnatkzFVwyoRKDGmnMZBac9YG12y49gsdgF+S5h5ocRvII4wllTKIwE
JSnigTPo3Q5KNSTOROcim5MrH9BAFBAwpl6dOAIUVNVeQldvhuRWSz5qjJq2Sp9L
lWsFz2RHIi09UokjMfVdbdgxdaeLTbgKVe8fj04WHtitWF3EQL5PCTalgdSEQbML
g2ihoB8XU3oEVFOpUwrd2IYl+i7irTb9gCthSKB+tGiEAIp4o/yPtY/S4W1hySCu
ywC84AgHaf4wCWPq3YZiQcqjTusl0wuUhcRYLHMKT1DcGakXoRhgH/uJ9Uxn/2SL
77AKB1dAcfKT9P9h49aNJ4TJ9vgBeb5PQD4N4Ww7k+jOo5EPB9DklcLeSRoL8zIY
j458NOBYPo6ymnMdchOYxae3/P3qCOyjTb8G36bGhNBM0Qqrb5XS2bjuDX0CAwEA
AQKCAgBdrqP1QZosQePDrQlOG1LKbtH9VRrFmGQxEOZ1TIbInbguxnW7w/9TnLBw
r7MKKsnko5arE9LqHQ46VSFok+63G8boyiX9Dc8JlGPE4mELOfxObhrELbb6/MtP
gJPEoWJiYR7TzL5ofOaiNzH+QJO0XHSe6r60CDgsNNqJKbJVtxAq2C7gv984cf9C
oTsAX/EvldRRFWl+cDuTj6ZLgg+IC/7gwXfegNbVW9sFhE/SEHx93To267ZeA8hz
3pPdbyB5qsMLHk+e1a8ApDAgSTq21VVHxI/CcnAWK3gHF0rnYaCLOJgxUILyEosP
D1c/lD7Vw5bYYyzvXH7xrR8Ova8I322ZgGOlbeO+JrgO5tBddGXqSBNjiV7pzhVx
w7X2Xbd9RqyUgLi8tApNQvyaLfzzgpkdzrepEVdEAgbGJVnLDtavRwnaUyo17I9Z
xaiyKJZhQTFbYqLFgiDYXbvOnIJ7ErjHGw8sEGDJF2G+5FAyToDKuYrj/7YK9q4m
KMKqc2jLhELhI+ZyBtClkPL9dAHaY3aDf8QAvVhu8Mn7neXod6Prt8ng/r738Isl
h9s5/ie8suoQj3vNR7/3SJLn3QcfiHzV30WwHVU6wi4z72KrF44zORw9ZLnVcgpK
TuemhNwrf/WmSIzfIW43/w4gQLjDxPcK09kwufaB/cjpqb/wtQKCAQEA3jPP5ZuZ
Tw0tOyO/LW+QV+HkcXvzJWWoAPwvoOU/Q6nlSFFNA3G12YysM0bxEeYgtkMbOND0
+yDA/WnMfnt7Oq7LlOAmCXHY5ATBy5eEJFo5yg3QZCkctIoaOXVYjJP+2TiFKD4W
y8kLfHgZ8acZICd2484vvqJ9rFjCPGlc6YlZrnwklerD8T65pZZo27QFZXZM2p63
S5QssbEEy9uPCuim5aLshAlccYijkSwQpQ0ydDI+/rq+3k8Ifp0B9dUh+fz0T7DF
UTBjFpt0MWIL4Phs59X+IBhURDV/P1Gzxbjvz4Zv6EeDZISs9jEXYW9/M+CAlu6h
L526I2fm4AkCLwKCAQEAoVZT445VAxNUoX6bvq2L+mf87MWuPM5Z47hxCzRAoXfn
bquFS5/IsuPQ//Mk/lkrhF7wH4Q+YinsPx5mcD1QxS8nYtvbytHnYzbT0eB3ulay
NW3Gd5w0icnCuI91Fa8J53uox4tBqmJxKXQvE3b0xfvjnxwA7fNvHLaw01FHcfKs
Y5/N3F+Fi1xBwRP6SgvAfSaRs/eI9AxUzI7Ka/LRo1PxMwvU6tnf/o6Boeevg2vr
3qzMOABZOkz4xOyLFsPpY+PiDSP3uZl5VGgfuz4QARoMTK42mAVgs35LkuO0ShoZ
pENAuGiErg1l1bk8glYNhNNMPj/NnQM73YADX6ZcEwKCAQBVDqJTc1ehUhrxW4Kw
ItevPHJVGqx9sUc5cU/OGFM6VIvHPg/r9Jg2+cllK4/WWTBGdLOz8REGHIijuN8l
v6DxWr3ldFQ7I1ByIHwKsipMPBmJBfaykKZDWeYl/oxx66kPf7pBKFtTkNcLw3Gy
9lMA4vp4w5G1OMBAvA1GUNLXNtOUnkLm/GIbM/aes0/aYjP6nelXepARp1vgfTGn
05kTBPH2T4KYHHk9oJ90T9jjRYT9w8onelbcBIbs6K86ambCKhlfc/xkUtBrdABr
cuu3J4GQ0XKg2I9ROOVH2L+nPV7XItAtq0pZrQwEhdA8ZRDdS+ANZrVe49LAAOL4
+ZnTAoIBAFKcFmY9GfByNHJglrTCvhrgphRCgB3odwRwC4n2HmXPNHRpZN49GZHn
rrtvr3CBDhRAXGl22E6BMtN66G7uJm5g36Tx+I/YfMdDaqBbdFK4U5Wh+O6D0C8B
XTANXKFWuBaMLfbGqj/pGhJkyDoKPfkmKf3tY9hzPmCQdugtBQ0mefik+c6uJn4e
JhkL9qt1awFp/08MH1b+/WikcKdndMpRj/5YP5RlLRl1tJDHRgpf9y1Ug1jlbMq6
YOLMT8e/VsDsDXI3CYBCQmriyeShOaamxMd6qL+ceVBPCblT2Jvc02ZVfU0vT0ij
2ZHewEnocBGj87UoDEsqPbwD8TZHw3sCggEAbRbEfElt9VQvLrMTz70JT08qMK9+
k9QQP691MPkOr04fpsEVNWMlYzy5v61EuKSzqmx1VPJTKNr764poVKhFTgbDkA1L
/YLQ7LBZurUhe1CEU7uA7PKBfyhVeb/JOFaeEha0hZnZq5Y8ltCy1Vv+1amSxUQh
pEtdESR5not3/jBgB5s2jYJqYmhjrcTccTlavZ25TLSdQF4SUUnNZZiObjrKDCyd
oYNcCtUqX0aXJE/EOHOIBWt5yGKeueDg6NcHl73rJvFMRmEdRgSvWuQIwY+q5Q0j
loOaP1PAj0DmtPzOgE/ezDhfcREXxfY6PurM4Hwp+udiqEH0xAfsVJkjyA==
-----END RSA PRIVATE KEY-----
',
  'public' => '-----BEGIN PUBLIC KEY-----
MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAjAmD943hAXRLusECMkEW
QEYMHGtGZ7UtdxrT1zbho1B73C/t+2uvBbFxMoaccCqgC0olR7k4KkY41VqaPePF
IxnoZum6i8vqoCkvQzm338lMICzluGGllMJh8gVPKqYpNdyuVcXMQwci0Bn/G/dk
nhkgC/RgzcK5/57gzV8J6sQM1WgLN2Mv7DN/l432PB/AAGonGnd4OvX2ey/iiwdw
a1GAJEApqsQj7zkCL5uBtEsI3B4bPuc+h0d6ZrnatkzFVwyoRKDGmnMZBac9YG12
y49gsdgF+S5h5ocRvII4wllTKIwEJSnigTPo3Q5KNSTOROcim5MrH9BAFBAwpl6d
OAIUVNVeQldvhuRWSz5qjJq2Sp9LlWsFz2RHIi09UokjMfVdbdgxdaeLTbgKVe8f
j04WHtitWF3EQL5PCTalgdSEQbMLg2ihoB8XU3oEVFOpUwrd2IYl+i7irTb9gCth
SKB+tGiEAIp4o/yPtY/S4W1hySCuywC84AgHaf4wCWPq3YZiQcqjTusl0wuUhcRY
LHMKT1DcGakXoRhgH/uJ9Uxn/2SL77AKB1dAcfKT9P9h49aNJ4TJ9vgBeb5PQD4N
4Ww7k+jOo5EPB9DklcLeSRoL8zIYj458NOBYPo6ymnMdchOYxae3/P3qCOyjTb8G
36bGhNBM0Qqrb5XS2bjuDX0CAwEAAQ==
-----END PUBLIC KEY-----
',
); ?>